/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    color: #2b2d25;
    font-size: 22px;
}

/* ---------------------------------------- */
/* GENERAL */
/* ---------------------------------------- */

section {
    padding: 20px 0;
}

h1, h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-weight: 100;
    color: #fff;
    font-size: 250%;
}

h2 {
    font-weight: 300;
    color: #0665A2;
    font-size: 120%;
}

/* ---------------------------------------- */
/* MENU */
/* ---------------------------------------- */

.sec-menu {
    display: flex;
    margin: 40px 15%;
}

header {
    background-image: linear-gradient(rgba(0, 0, 55, 0.3), rgba(0, 0, 55, 0.3)), url(img/todo.jpg);
    background-size: cover;
    height: 70vh;
    background-attachment: fixed;
}

.text-box {
    position: absolute;
    top: 10%;
    left: 20%;
}

span {
    text-transform: capitalize;
    font-size: 80%;
}

input[type=text] {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 100%;
    background-color: #f0f7fc;
    font-family: inherit;
    color: #2980b9;
}

#user-input {
    width: 40%;
}

#filter-input {
    width: 20%;
    margin-left: auto;
}

*:focus {outline: none;}

/* ---------------------------------------- */
/* TASKS */
/* ---------------------------------------- */

.sec-tasks {
    background-color: rgb(245, 245, 245);
    background-color: #f0f7fc;
    border-top: 1px solid #3498db;
}

.finished {
    display: flex;
    align-items: center;
    padding: 0 15%;
}

li {
    border: 1px solid #3498db;
    border-radius: 10px;
    padding: 10px 30px;
    margin-left: 100px;
    display: inline-block;
    margin: 10px 15%;
    border: 1px solid #3498db;
    color: #3498db;
    background-color: #fff;
    width: 50%;
    font-weight: 400;
    transition: background 0.2s;
    display: flex;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    margin-left: auto;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: all 0.2s;
    background-color: #3498db;
    border: 1px solid #3498db;
    color: #fff;
}

.btn:hover {
    background-color: #2980b9;
    border: 1px solid #2980b9;
}

.icons {
    color: #3498db;
    margin: 10px 20px;
}

.icon-delete {
    margin: 5px 20px;
    margin-left: auto;
    transition: all 0.2s;
}

.icon-delete:hover {
    color: red;
}

.curr-tasks li:hover,
.icon-delete:hover {
    cursor: pointer;
}

li:hover,
.finished-tasks li {
    background-color: #f0f7fc;
    text-decoration: line-through;
}
